.contacts {
    position: relative;
    width: 100%;
    min-height: 658px;
    background: url(../img/main_bg4.jpg) center (center/cover) no-repeat;
    padding: 78px 255px 89px 193px;
    &__title {
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
    }
    &__descr {
        display: flex;
        max-width: 894px;
        margin-top: 35px;
        margin-left: 61px;
        color: #aab1ad;
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        &-left {
            width: 454px;
        }
        &-right {
            margin-left: 112px;
        }
    }
    &__tel {
        color: #8dffbb;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 3.5px;
    }
    &__form {
        margin-left: 61px;
        margin-top: 46px;
        max-width: 840px;
        &-wrapper_input {
            display: flex;
        }
        &-col1 {
            display: flex;
            flex-direction: column;
            input {
                width: 307px;
                margin-bottom: 41px;
                height: 45px;
                padding-bottom: 25px;
                color: #fff;
                font-size: 10px;
                font-weight: 600;
                letter-spacing: 2.5px;
                text-transform: uppercase;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #ffffff;
                outline: none;
                &:hover {
                    border-bottom: 1px solid #8dffbb;
                }
            }
            &::placeholder {
                margin-top: 50px;
            }
        }
        &-col2 {
            display: flex;
            flex-direction: column;
            padding-left: 64px;
            input {
                width: 397px;
                margin-bottom: 41px;
                height: 45px;
                padding-bottom: 25px;
                color: #fff;
                font-size: 10px;
                font-weight: 600;
                letter-spacing: 2.5px;
                text-transform: uppercase;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #ffffff;
                outline: none;
                &:focus {
                    border-bottom: 1px solid #8dffbb;
                }
            }
        }
        textarea {
            width: 766px;
            margin-bottom: 41px;
            height: 52px;
            padding-top: 4px;
            color: #fff;
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 2.5px;
            text-transform: uppercase;
            resize: none;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #ffffff;
            outline: none;
            &:focus {
                border-bottom: 1px solid #8dffbb;
            }
        }
    }
    &__down {
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
        max-width: 766px;
        max-height: 50px;
        &-politics {
            display: flex;
            justify-content: start;
            p {
                margin-bottom: 0;
                padding-left: 19px;
                color: #ffffff;
                font-size: 15px;
                font-weight: 400;
                a {
                    color: #8dffbb;
                }
            }
        }
    }
    &__button {
        position: relative;
        color: #ffffff;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        margin-right: 20px;
        &:before {
            content: '';
            background: url(../icons/contacts_frame.png) no-repeat;
            top: -16px;
            left: -40px;
            width: 202px;
            height: 48px;
            position: absolute;
        }
    }
    &__lines {
        &-left {
            position: absolute;
            bottom: 127px;
            left: 0;
        }
        &-arrow {
            position: absolute;
            bottom: 30px;
            left: 146px;
        }
        &-right {
            position: absolute;
            bottom: 70px;
            right: 0;
        }
        &-mini {
            position: absolute;
            bottom: 41px;
            right: 201px;
        }
    }
    &__mobile-lines {
        display: none;
    }
}