@media (max-width: 1800px) {
    .all-cases {
        .main__logo {
            display: none;
        }
    }
    .case {
        &__team {
            &-text {
                &-col2 {
                    &-item3 {
                        display: none;
                    }
                    &-item4 {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    .main {
        &__logo {
            transform: scale(0.9);
        }
    }
    .headline {
        transform: scale(0.9);
    }
    .contacts {
        padding: 78px 225px 89px 153px;
        &__form {
            transform: scale(0.9);
            margin-left: -6px;
        }
        &__descr {
            transform: scale(0.9);
            margin-left: -6px;
        }
    }
    .car {
        &__down {
            transform: scale(0.9);
            padding-top: 535px;
        }
    }
    .all-cases {
        .main__logo {
            display: none;
        }
    }
    .modal {
        &__lines-arrow {
            left: 64px;
        }
    }
    .case {
        &__pointer {
            &-left {
                transform: scale(0.9);
            }
            &-right {
                transform: scale(0.9);
            }
        }
    }
}

@media (max-width: 1024px) {
    .main {
        &__logo {
            transform: scale(0.8);
        }
    }
    .headline {
        transform: scale(0.8);
    }
    .contacts {
        padding: 45px 225px 89px 108px;
        &__form {
            transform: scale(0.8);
        }
        &__descr {
            transform: scale(0.8);
        }
    }
    .car {
        &__down {
            transform: scale(0.8);
            padding-top: 555px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .aboutUs {
        padding-top: 0;
        &__title {
            padding-left: 103px;
            font-size: 22px;
        }
        &__descr {
            padding-top: 23px;
            padding-left: 164px;
            font-size: 13px;
        }
    }
    .clients {
        &__logos {
            transform: scale(0.8);
        }
    }
    .portfolio {
        &__item-descr {
            padding-top: 12px;
            font-size: 12px;
            height: 44px;
        }
    }
    .footer {
        &__social-link {
            transform: scale(0.8);
        }
        &__text {
            font-size: 12px;
        }
    }
    .all-cases {
        .main__logo {
            display: none;
        }
        &__contacts {
            margin-left: -126px;
        }
    }
    .modal {
        &__lines-arrow {
            left: 64px;
        }
    }
    .case {
        &__pointer {
            &-left {
                transform: scale(0.8);
                left: 78px !important;
            }
            &-right {
                transform: scale(0.8);
                right: 78px !important;
            }
        }
        &__descr {
            min-height: 325px !important;
            padding: 40px 0 40px 0 !important;
            &-title {
                font-size: 19px !important;
                padding-left: 41px !important;
                span {
                    font-size: 19px !important;
                }
            }
            &-text {
                padding-left: 42px !important;
                padding-right: 41px !important;
                font-size: 13px !important;
            }
            &-logo {
                transform: scale(0.9) !important;
                left: 41px !important;
                top: 228px !important;
            }
            &__lines-item1 {
                left: 42px !important;
            }
            &__lines-item2 {
                left: 303px !important;
            }
            &__lines-item3 {
                left: 303px !important;
            }
        }
        &__team {
            &-text {
                font-size: 13px !important;
                line-height: 25px !important;
                padding-top: 59px !important;
            }
        }
        &__case-gallery {
            min-height: 131px !important;
            padding: 44px 81px 44px 81px !important;
        }
    }
}

@media (max-width: 900px) {
    .headline-inner {
        margin-left: -179px;
    }
    .clients {
        &__title {
            font-size: 22px;
        }
        &__logos {
            transform: scale(0.7);
            margin-left: -30px;
        }
    }
    .contacts {
        padding: 38px 92px 89px 68px;
        &__descr {
            margin-left: -79px;
            &__descr-right {
                margin-left: 18px;
            }
        }
        &__form {
            margin-top: 0;
            margin-left: -94px;
            &-col1 {
                input {
                    width: 285px;
                    margin-bottom: 25px;
                    height: 40px;
                    padding-bottom: 21px;
                }
            }
            &-col2 {
                input {
                    width: 391px;
                    margin-bottom: 25px;
                    height: 40px;
                    padding-bottom: 21px;
                }
            }
            textarea {
                width: 740px;
                margin-bottom: 25px;
                height: 40px;
                padding-bottom: 21px;
            }
        }
    }
    .footer {
        &__social-link {
            transform: scale(0.7);
            margin-left: -24px;
        }
        &__text {
            font-size: 11px;
            margin-right: -21px;
            margin-top: 6px;
        }
    }
    .all-cases {
        .main__logo {
            display: none;
        }
        &__contacts {
            margin-left: -184px;
            &-wrapper {
                transform: scale(0.9);
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        &__logo {
            transform: scale(0.7);
            margin-left: -18px;
        }
    }
    .headline {
        transform: scale(0.7);
    }
    .car {
        &__down {
            display: block;
            transform: scale(0.7);
            position: absolute;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .aboutUs {
        padding-top: 0;
        &__title {
            padding-top: 20px;
            padding-left: 61px;
            font-size: 20px;
        }
        &__descr {
            padding-top: 8px;
            padding-left: 94px;
            font-size: 12px;
        }
        &__lines-mini {
            display: none;
        }
    }
    .clients {
        &__title {
            font-size: 21px;
        }
        &__logos {
            margin-left: 0;
            margin-top: 50px;
        }
    }
    .contacts {
        min-height: 393px;
        &__lines-left {
            display: none;
        }
        &__form {
            margin-left: -74px;
            &-col1 {
                input {
                    width: 190px;
                    margin-bottom: 23px;
                    height: 35px;
                    padding-bottom: 18px;
                }
            }
            &-col2 {
                input {
                    width: 261px;
                    margin-bottom: 23px;
                    height: 35px;
                    padding-bottom: 18px;
                }
            }
            textarea {
                width: 505px;
                margin-bottom: 23px;
                height: 35px;
                padding-bottom: 34px;
            }
        }
        &__descr {
            margin-top: -3px;
            margin-left: -50px;
        }
        &__lines-arrow {
            left: 79px;
        }
        &__down {
            display: block;
        }
        &__button {
            top: 30px;
            left: 28%;
        }
    }
    .footer {
        &__text {
            span {
                display: none;
            }
        }
        &__wrapper {
            margin-left: -27px;
        }
    }
    .all-cases {
        .main__logo {
            display: none;
        }
        &__contacts {
            margin-left: -202px;
            &-wrapper {
                transform: scale(0.8);
            }
        }
    }
    .modal {
        &__lines-arrow {
            display: none;
        }
        &__form {
            transform: scale(1);
            &-wrapper {
                display: block;
            }
            &-col2 {
                padding-left: 0;
            }
        }
        &__button {
            margin-left: 0;
        }
    }
    .case {
        &__pointer {
            &-left {
                transform: scale(0.7);
                left: 38px !important;
            }
            &-right {
                transform: scale(0.7);
                right: 38px !important;
            }
        }
        &__descr {
            padding: 25px 0 25px 0 !important;
            &-title {
                font-size: 16px !important;
                padding-left: 25px !important;
                span {
                    font-size: 16px !important;
                }
            }
            &-text {
                padding-left: 25px !important;
                padding-right: 25px !important;
                font-size: 12px !important;
            }
            &-logo {
                transform: scale(0.8) !important;
                left: 25px !important;
            }
            &__lines-item1 {
                display: none;
            }
            &__lines-item2 {
                display: none;
            }
            &__lines-item3 {
                display: none;
            }
        }
        &__team {
            min-height: 469px !important;
            padding-top: 25px !important;
            &-title {
                font-size: 24px !important;
            }
            &-text {
                font-size: 12px !important;
                line-height: 20px !important;
                padding-top: 25px !important;
                &-col1 {
                    padding-left: 25px !important;
                    padding-right: 0 !important;
                }
            }
            &__lines {
                &-item1 {
                    display: none;
                }
                &-item2 {
                    display: none;
                }
                &-item3 {
                    display: none;
                }
                &-arrow {
                    display: none;
                }
                &-left {
                    display: none;
                }
                &-right {
                    display: none;
                }
                &-mini1 {
                    display: none;
                }&-mini2 {
                    display: none;
                }
            }
        }
        &__case-gallery {
            min-height: 86px !important;
            padding: 26px 20px 26px 19px !important;
            p {
                display: none;
            }
            &-center {
                margin-top: 13px !important;
            }
        }
    }
}

@media (max-width: 480px) {
    .main {
        &__lines {
            display: none;
        }
        &__logo {
            position: fixed;
            top: -29px;
        }
        &-mobile {
            &-left1 {
                display: block;
                position: absolute;
                bottom: 268px;
                left: 0;
            }
            &-left2 {
                display: block;
                position: absolute;
                bottom: 171px;
                left: 0;
            }
            &-right1 {
                display: block;
                position: absolute;
                bottom: 249px;
                right: 0;
            }
            &-right2 {
                display: block;
                position: absolute;
                bottom: 44px;
                right: 14px;
            }
        }
    }
    .car {
        height: 600px;
        background: url(../img/car-mobile-bg.jpg) center (center/cover) no-repeat;
        &__down {
            display: block;
            transform: scale(0.6);
            position: absolute;
            bottom: -117px;
            left: -91px;
            color: #ffffff;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2.4px;
            text-transform: uppercase;
        }
        &__roof {
            display: none;
        }
        &__mobile-lines-right {
            display: block;
            position: absolute;
            bottom: 164px;
            right: 19px;
        }
        &__mobile-lines-left {
            display: block;
            position: absolute;
            bottom: 254px;
            left: 0;
        }
    }
    .aboutUs {
        min-height: 618px;
        background: url(../img/aboutUs-mobile-bg.png) center (center/cover) no-repeat;
        &__lines-mini {
            display: none;
        }
        &__lines-left {
            display: none;
        }
        &__arrow {
            display: none;
        }
        &__title {
            padding-left: 21px;
            padding-top: 63px;
            color: #ffffff;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
        }
        &__descr {
            padding-left: 38px;
            padding-top: 15px;
            color: #aab1ad;
            font-size: 11px;
            font-weight: 400;
            line-height: 14px;
            width: 305px;
            height: 316px;
        }
        &__mobile {
            &-lines {
                display: block;
                position: absolute;
                top: 38px;
                right: 0;
            }
            &-arrow {
                display: block;
                position: absolute;
                bottom: 77px;
                left: 41px;
            }
        }
        &__black-bg {
            background: url(../img/black-mobile-bg.png) top no-repeat;
            top: 0;
            left: 0;
            opacity: 0.85;
        }
    }
    .clients {
        padding: 0;
        &__title {
            padding-top: 56px;
        }
        &__logos {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0;
            margin-right: -38px;
        }
        &__logo {
            padding-bottom: 30px;
        }
        &__lines {
            &-item1 {
                top: 40px;
                left: 38px;
            }
            &-item2 {
                display: none;
            }
            &-item3 {
                top: 119px;
                left: 255px;
            }
            &-arrow {
                display: none;
            }
            &-left {
                display: none;
            }
            &-mini1 {
                left: 27px;
                bottom: -7px;
                z-index: 1;
            }
            &-mini2 {
                display: none;
            }
            &-down {
                display: none;
            }
        }
    }
    .portfolio {
        &__items {
            grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
        }
    }
    .contacts {
        min-height: 661px;
        padding: 37px 20px 0 15px;
        background-color: #000000;
        background: url(../img/contacts-mobile-bg.png) center (center/cover) no-repeat;
        &__lines {
            display: none;
        }
        &__descr {
            display: none;
        }
        &__title {
            padding-top: 21px;
            font-size: 20px;
            span {
                width: 178px;
            }
        }
        &__form {
            margin-top: 13px;
            margin-left: -16px;
            max-width: 410px;
            transform: scale(1);
            &-wrapper {
                flex-direction: column;
                &_input {
                    display: block;
                    padding-left: 23px;
                }
            }
            &-col1 {
                padding-left: 19px;
                input {
                    width: 100%;
                }
            }
            &-col2 {
                padding-left: 19px;
                input {
                    width: 100%;
                }
            }
            textarea {
                width: 89%;
                margin-left: 44px;
                padding-bottom: 52px;
            }
        }
        &__down {
            display: block;
            margin-left: 23px;
            max-width: 280px;
            &-politics {
                color: #ffffff;
                font-size: 11px;
                font-weight: 400;
                line-height: 20px;
            }
        }
        &__button {
            top: 30px;
            left: 35%;
        }
        &__mobile-lines {
            display: block;
            &-left {
                position: absolute;
                bottom: 61px;
                left: 0;
            }
            &-arrow {
                position: absolute;
                top: 28px;
                right: 40px;
            }
        }
    }
    .footer {
        min-height: 61px;
        &__social-link {
            transform: scale(1);
            margin: 0 auto;
            padding-bottom: 16px;
        }
        &__text {
            display: none;
        }
        &-mobile {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            min-height: 72px;
            background-color: #000000;
            color: #ffffff;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2.4px;
            text-align: center;
            padding-top: 27px;
            text-transform: uppercase;
        }
    }
    .headline {
        transform: scale(1);
        &-cases {
            display: none;
        }
        &-contacts {
            display: none;
        }
        &__column {
            display: none;
        }
        
    }
    .all-cases {
        .main__logo {
            display: block;
        }
        &__contacts {
            height: 286px;
            background: url(../img/all-cases-contacts-mobile.jpg) right no-repeat !important;
            background-color: #020302 !important;
            &-wrapper {
                transform: scale(0.9);
                text-align: center;
            }
        }
    }
    .overlay {
        .modal {
            max-width: 100%;
            background: url(../img/poppup-mobile-bg.jpg) center (center/cover) no-repeat !important;
            padding-left: 30px !important;
            padding-right: 40px;
            &__title {
                margin-top: -50px;
            }
            &__form {
                transform: scale(1.1);
                margin-top: 66px;
                max-width: 355px;
                &-col1 {
                    input {
                        width: 100% !important;
                    }
                }
                &-col2 {
                    input {
                        width: 100% !important;
                    }
                }
                textarea {
                    width: 94% !important;
                    margin-left: 20px;
                }
            }
    
            &__down {
                margin-top: 17px;
                &-politics {
                    width: 259px;
                    p {
                        font-size: 11px;
                    }
                }
            } 
            &__button {
                top: 2px;
                margin-left: 1px !important;
            }
            &__lines-up {
                display: none;
            }
            &__lines-mobile {
                display: block !important;
                position: absolute;
                top: 491px;
                left: 0;
            }
        }
    }
    .case {
        &__main {
            .main__lines-up {
                display: none;
            }
        }
        &__pointer {
            &-left {
                display: none;
            }
            &-right {
                display: none;
            }
        }
        &__descr {
            min-height: 469px !important;
            &-wrapper {
                display: block !important;
            }
            &-title {
                width: 100% !important;
                font-size: 20px !important;
                line-height: 28px !important;
                padding-bottom: 50px !important;
                padding-left: 20px !important;
                padding-top: 30px !important;
                span {
                    font-size: 20px !important;
                }
            }
            &-text {
                width: 100% !important;
                font-size: 11px !important;
                line-height: 14px !important;
                padding-left: 40px !important;
            }
            &-logo {
                transform: scale(.4)!important;
                top: 0 !important;
                left: 83% !important;
            }
        }
        &__foto1 {
            &-block1 {
                grid-column: 1/3;
                grid-row-end: 1/3;
            }
            &-block2 {
                display: none;
            }
            &-block3 {
                display: none;
            }
        }
        &__foto-gallery {
            display: none;
        }
        &__foto2 {
            grid-template-rows: repeat(1, 1fr);
            &-block1 {
                grid-column: 1/3;
                grid-row-end: 1/3;
            }
            &-block2 {
                display: none;
            }
            &-block3 {
                display: none;
            }
            &-block4 {
                display: none;
            }
        }
        &__team {
            min-height: 568px !important;
            padding-top: 50px!important;
            &-title {
                font-size: 20px!important;
            }
            &-text {
                justify-content: space-around !important  ;
                padding-top: 80px!important;
                &-col1 {
                    width: 125px !important;
                    padding-left: 0 !important;
                    &-item2 {
                        display: none;
                    }
                }
                &-col2 {
                    width: 125px !important;
                    &-item3 {
                        display: block;
                    }
                    &-item4 {
                        display: block;
                    }
                }
                &-name {
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 2.4px;
                    text-transform: uppercase;
                }
                &-position {
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 14px;
                }
            } 
            &__lines {
                &-item1 {
                    display: block;
                    top: 37px;
                    left: 25%;
                }
                &-item2 {
                    display: block;
                    top: 89px;
                    left: 51%;
                }
                &-item3 {
                    display: block;
                    top: 119px;
                    left: 70%;
                }
            }         
        }
    }
}


